
/*=======  Extra Large devices (desktops, less than 1400px) =======*/
@media (max-width: 1280px) {

}

/*=======  Large devices (desktops, 992px and up) =======*/
@media (max-width: 992px) and (max-width: 1190.98) {

    .content h2 {
        font-size: 30px;
        padding: 1px 10px;
    }

    .content p {
        font-size: 17px;
        padding: 1px 10px;
    }

    .btn-1 {
    margin: 10px 0;
    }

    /* nav {
        display: none !important;
    } */

    .content-img img {
        width: 85%;
        display: none;
    }

    .replay {
        display: none;
    }

    /*======== SECTION TWO =======*/
    .section-2 img {
        display: flex;
        flex-direction: column;
    }

    .section-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 10px;
    }

    .digital h2 {
        font-size: 30px;
    }

    .digital p {
        font-size: 17px;
    }

    .bg-content h3 {
        font-size: 25px;
        margin: -10px 0px;
    }

    .bg-content p {
        font-size: 15px;
        margin: -30px 0px;
    }

    /* Menu Bar */
    header {
        position: fixed;
        top: 0; left: 0; right: 0;
        padding: 0px 10px;
    }

    header label {
        font-size: 20px;
        color: #333;
        cursor: pointer;
    }

    header .logo {
        padding: 10px 3px;
    }

    header .navbar ul li ul {
        position: absolute;
        left: -36px;
        width: 585px;
        display: none;
        transition: all .4s;
    }

    ul, header .navbar ul li:hover > ul {
        display: initial;
    }

    /* SECTION FOUR */
    .section-4 h2 {
        font-size: 40px;
    }

    .section-4 p {
        font-size: 18px;
    }

    .wrapper {
        margin-top: 5px;
        padding: 2px 25px;
    }

    .wrapper .color {
        height: 60px;
        font-size: 20px;
    }

    .wrapper h2 {
        display: none;
    }

    .carbon-right {
        margin-top: 100px;
    }

    .carbon-right h1 {
        font-size: 30px;
    }

    .carbon-right p,
    .carbon-right h3 {
        font-size: 12px;
    }

    .carbon-left .img-1{
        display: none;
    }

    /*===== SECTION FIVE =====*/
    .section-5 h2 {
        font-size: 30px;
    }

    .section-5 p {
        font-size: 17px;
    }

    .banner h2, .banner-2 h2 {
        font-size: 19px;
    }

    .banner-2, .banner-1, .banner {
        height: 50vh;
    }

    /* Section seven */
    .section-7 h2 {
        font-size: 40px;
        margin-top: 65px;
    }

    .api-3 {
        text-align: center;
    }

    .mini-banner h2 {
        font-size: 20px;
    }

    .mini-banner p {
        font-size: 20px;
    }

    .api-img img{
        width: 330px;
        margin-top: -195px;
        padding-left: 40px;
    }

    /* Section Six ====*/

    .icon {
        height: 60px;
        width: 15%;
    }

    /* SECTION SEVEN =====*/
    .full-banner {
        height: 280vh;
    }

    .mini-banner {
        height: 70vh;
    }

    .mini-banner p {
        font-size: 20px;
        margin-top: 30px;
    }

    .api-img {
        width: 500px;
        margin-top: 241px;
    }

    .api-box {
        height: 50vh;
    }

    .api-box h2 {
        font-size: 23px;
    }

    /* FOOTER SECTION */
    .footer-header h1 {
        font-size: 30px;
    }

    .footer-text h3 {
        padding-left: 0px;
    }

    .footer-header p {
        color: white;
        font-size: 14px;
        padding: 6px 3px;
    }

    .footer-header {
        text-align: center;
        margin-top: 110px;
        padding: 0 12px;
    }

    .row-txt {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 0px 10px;
    }

    .footer-banner {
        height: 180vh;
    }
}


@media (max-width: 1280px) {

    .content h2 {
        font-size: 48px;
        padding: 1px 10px;
    }

    .content p {
        font-size: 17px;
        padding: 1px 10px;
    }

    .btn-1 {
    margin: 10px 0;
    }

    /* nav {
        display: none !important;
    } */

    .content-img img {
        width: 100%;
        height: 40vh;
    }

    .replay {
        padding: 1px 2px;
        width: 40%;
    }

    /*======== SECTION TWO =======*/
    .section-2 img {
        display: flex;
        flex-direction: column;
    }

    .section-2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0px 10px;
    }

    .digital h2 {
        font-size: 43px;
    }

    .digital p {
        font-size: 22px;
    }

    .bg-content h3 {
        font-size: 25px;
        margin: -10px 0px;
    }

    /* Menu Bar */
    /* header {
        position: fixed;
        top: 0; left: 0; right: 0;
        padding: 0px 10px;
    }

    header label {
        font-size: 20px;
        color: #333;
        cursor: pointer;
    }

    header .logo {
        padding: 10px 3px;
    }

    header .navbar ul li ul {
        position: absolute;
        left: -36px;
        width: 585px;
        display: none;
        transition: all .4s;
    }

    ul, header .navbar ul li:hover > ul {
        display: initial;
    } */


    /* SECTION THREE */
    .percept p, .direct-pay p {
        font-size: 13px;
    }

    .direct-pay .part {
        padding-left: 50px;
        font-size: 12px;
    }

    /* SECTION FOUR */
    .section-4 h2 {
        font-size: 40px;
    }

    .section-4 p {
        font-size: 18px;
    }

    .wrapper .color {
        height: 60px;
        font-size: 20px;
    }

    .wrapper h2 {
        display: none;
    }

    .carbon-right {
        margin-top: 100px;
    }

    .carbon-right h1 {
        font-size: 30px;
    }

    .carbon-right p,
    .carbon-right h3 {
        font-size: 12px;
    }

    .carbon-left .img-1{
        display: none;
    }

    /*===== SECTION FIVE =====*/
    .section-5 h2 {
        font-size: 42px;
    }

    .section-5 p {
        font-size: 23px;
    }

    .banner h2, .banner-2 h2 {
        font-size: 20px;
    }

    /* SECTION SIX */
    .icon {
        display: none;
    }

    /* Section seven */
    .section-7 h2 {
        font-size: 40px;
        margin-top: 65px;
    }

    .api-3 {
        text-align: center;
        width: 100%;
    }

    .mini-banner h2 {
        font-size: 30px;
    }

    .mini-banner p {
        font-size: 20px;
    }

    /* Section Six ====*/

    .icon {
        width: 18%;
    }

    /* SECTION SEVEN =====*/

    .mini-banner p {
        font-size: 20px;
        margin-top: 30px;
    }

    .api-img {
        padding: 0 210px;
        width: 100%;
    }

    .api-box h2 {
        font-size: 18px;
    }

    .api-box p {
        font-size: 12px;
    }

    /* FOOTER SECTION */
    .footer-header h1 {
        font-size: 55px;
    }

    .footer-header p {
        font-size: 18px;
        padding: 6px 230px;
    }

    .footer-header {
        text-align: center;
        margin-top: 110px;
        padding: 0 12px;
    }

    .footer-banner {
        height: auto;
    }
}

@media (max-width: 768px) {

    /* .content h2 {
        font-size: 30px;
        padding: 1px 10px;
    } */

    /* .content p {
        font-size: 17px;
        padding: 1px 10px;
    } */

    .btn-1 {
    margin: 10px 0;
    }

    /* nav {
        display: none !important;
    } */

    .content-img img {
        width: 85%;
        display: none;
    }

    .replay {
        display: none;
    }

    /*======== SECTION TWO =======*/
    .section-2 img {
        display: flex;
        flex-direction: column;
    }

    .section-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 10px;
    }

    .digital h2 {
        font-size: 30px;
    }

    .digital p {
        font-size: 17px;
    }

    .bg-content h3 {
        font-size: 25px;
        margin: -10px 0px;
    }

    /* Menu Bar */
    header {
        position: fixed;
        top: 0; left: 0; right: 0;
        padding: 0px 10px;
    }

    header label {
        font-size: 20px;
        color: #333;
        cursor: pointer;
    }

    header .logo {
        padding: 10px 3px;
    }

    header .navbar ul li ul {
        position: absolute;
        left: -36px;
        width: 585px;
        display: none;
        transition: all .4s;
    }

    ul, header .navbar ul li:hover > ul {
        display: initial;
    }

    /* SECTION FOUR */
    .section-4 h2 {
        font-size: 40px;
    }

    .section-4 p {
        font-size: 18px;
    }

    .wrapper .color {
        height: 60px;
        font-size: 20px;
    }

    .wrapper h2 {
        display: none;
    }

    .carbon-right {
        margin-top: 100px;
    }

    .carbon-right h1 {
        font-size: 30px;
    }

    .carbon-right p,
    .carbon-right h3 {
        font-size: 12px;
    }

    .carbon-left .img-1{
        display: none;
    }

    /*===== SECTION FIVE =====*/
    .section-5 h2 {
        font-size: 30px;
    }

    .section-5 p {
        font-size: 17px;
    }

    .banner h2, .banner-2 h2 {
        font-size: 19px;
    }

    /* Section seven */
    .section-7 h2 {
        font-size: 40px;
        margin-top: 65px;
    }

    .api-3 {
        text-align: center;
    }

    .mini-banner h2 {
        font-size: 30px;
    }

    .mini-banner p {
        font-size: 20px;
    }

    /* SECTION SEVEN =====*/

    .mini-banner p {
        font-size: 20px;
        margin-top: 30px;
    }

    .api-img {
        padding: 0 90px;
        max-width: 100%;
    }

    .api-box h2 {
        font-size: 18px;
    }

    .api-box p {
        font-size: 15px;
    }

    /* FOOTER SECTION */
    .footer-header h1 {
        font-size: 30px;
    }

    .footer-text h3 {
        padding-left: 0px;
    }

    .footer-header p {
        font-size: 14px;
        padding: 6px 165px;
    }

    .footer-header {
        text-align: center;
        margin-top: 110px;
        padding: 0 12px;
    }
}

@media (max-width: 991px){
    header{
        padding: 10px;
    }

    header label{
        display: initial;
        color: red;
    }

    header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: white;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }

    header .navbarnav ul li {
        width: 50%;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background: #eee;
        margin-left: 30px ;
        display: none;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar {
        display: initial;
    }

    .sign-in {
        display: none;
    }
}


/*======= Extra small devices (portrait phones, less than 576px) =======*/
@media (max-width: 575.95px) {

    /* .content h2 {
        font-size: 30px;
        padding: 1px 10px;
    } */

    /* .content p {
        font-size: 17px;
        padding: 1px 10px;
    } */

    .btn-1 {
    margin: 10px 0;
    }

    /* nav {
        display: none !important;
    } */

    .content-img img {
        width: 85%;
        display: none;
    }

    .replay {
        display: none;
    }

    /*======== SECTION TWO =======*/
    .section-2 img {
        display: flex;
        flex-direction: column;
    }

    .section-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 10px;
    }

    .digital h2 {
        font-size: 30px;
    }

    .digital p {
        font-size: 17px;
    }

    .bg-content h3 {
        font-size: 25px;
        margin: -10px 0px;
    }

    /* Menu Bar */
    header {
        position: fixed;
        top: 0; left: 0; right: 0;
        padding: 0px 10px;
    }

    header label {
        font-size: 20px;
        color: #333;
        cursor: pointer;
    }

    header .logo {
        padding: 10px 3px;
    }

    header .navbar ul li ul {
        position: absolute;
        left: -36px;
        width: 585px;
        display: none;
        transition: all .4s;
    }

    ul, header .navbar ul li:hover > ul {
        display: initial;
    }

    /* SECTION FOUR */
    .section-4 h2 {
        font-size: 40px;
    }

    .section-4 p {
        font-size: 18px;
    }

    .wrapper .color {
        height: 60px;
        font-size: 20px;
    }

    .wrapper h2 {
        display: none;
    }

    .carbon-right {
        margin-top: 100px;
    }

    .carbon-right h1 {
        font-size: 30px;
    }

    .carbon-right p,
    .carbon-right h3 {
        font-size: 12px;
    }

    .carbon-left .img-1{
        display: none;
    }

    /*===== SECTION FIVE =====*/
    .section-5 h2 {
        font-size: 30px;
    }

    .section-5 p {
        font-size: 17px;
    }

    .banner h2, .banner-2 h2 {
        font-size: 19px;
    }

    /* Section seven */
    .section-7 h2 {
        font-size: 40px;
        margin-top: 65px;
    }

    .api-3 {
        text-align: center;
    }

    .mini-banner h2 {
        font-size: 20px;
    }

    .mini-banner p {
        font-size: 20px;
    }

    /* .api-img img{
        width: 330px;
        margin-top: -195px;
        padding-left: 40px;
    } */

    /* Section Six ====*/

    

    /* SECTION SEVEN =====*/

    .mini-banner p {
        font-size: 20px;
        margin-top: 30px;
    }

    .api-img {
        padding: 2px 50px;
    }

    .api-box h2 {
        font-size: 23px;
    }

    /* FOOTER SECTION */
    .footer-header h1 {
        font-size: 30px;
    }

    .footer-text h3 {
        padding-left: 0px;
    }

    .footer-header p {
        color: white;
        font-size: 14px;
        padding: 6px 3px;
    }

    .footer-header {
        text-align: center;
        margin-top: 110px;
        padding: 0 12px;
    }
}

/* @media (max-width: 412px) {
    .api-img img {
    width: 330px;
    margin-top: -199px;
    padding-left: 55px;
    height: 230px;
    }

    .api-box {
        height: 35vh;
        text-align: center;
    }

    .full-banner {
        height: 225vh;
    }
} */

@media  (max-width: 420px)  {

    .content h2 {
        font-size: 30px;
        padding: 1px 10px;
    }

    .content p {
        font-size: 15px;
        padding: 1px 10px;
    }

    .btn-1 {
    margin: 10px 0;
    }

    /* nav {
        display: none !important;
    } */

    .content-img img {
        width: 85%;
        display: none;
    }

    .replay {
        display: none;
    }

    /*======== SECTION TWO =======*/
    .section-2 img {
        display: flex;
        flex-direction: column;
    }

    .section-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 10px;
    }

    .digital h2 {
        font-size: 30px;
    }

    .digital p {
        font-size: 17px;
    }

    .bg-content h3, .direct-pay h3, .percept h3 {
        font-size: 25px;
    }

    .bg-content p, .direct-pay p, .percept p {
        font-size: 15px;
    }

    /* Menu Bar */
    /* header {
        position: fixed;
        top: 0; left: 0; right: 0;
        padding: 0px 10px;
    }

    header label {
        font-size: 20px;
        color: #333;
        cursor: pointer;
    }

    header .logo {
        padding: 10px 3px;
    }

    header .navbar ul li ul {
        position: absolute;
        left: -36px;
        width: 585px;
        display: none;
        transition: all .4s;
    }

    ul, header .navbar ul li:hover > ul {
        display: initial;
    } */

    /* SECTION THREE */
    /* .bg-section, .direct-pay, .percept {
        height: 65vh;
    } */

    .direct-pay .part {
        padding-left: 53px;
        font-size: 15px;
    }

    /* SECTION FOUR */
    .section-4 h2 {
        font-size: 40px;
    }

    .section-4 p {
        font-size: 18px;
    }

    .wrapper .color {
        height: 60px;
        font-size: 20px;
    }

    .wrapper h2 {
        display: none;
    }

    .carbon-right {
        margin-top: 100px;
    }

    .carbon-right h1 {
        font-size: 30px;
    }

    .carbon-right p,
    .carbon-right h3 {
        font-size: 12px;
    }

    .carbon-left .img-1{
        display: none;
    }

    /*===== SECTION FIVE =====*/
    .section-5 h2 {
        font-size: 30px;
    }

    .section-5 p {
        font-size: 17px;
    }

    .banner h2, .banner-2 h2 {
        font-size: 19px;
    }

    /* Section seven */
    .section-7 h2 {
        font-size: 40px;
        margin-top: 65px;
    }

    .api-3 {
        text-align: center;
    }

    .mini-banner h2 {
        font-size: 24px;
    }

    .mini-banner p {
        font-size: 20px;
    }

    .api-img img {
        width: 100%;
    }

    /* Section Six ====*/


    /* SECTION SEVEN =====*/

    .mini-banner p {
        font-size: 20px;
        margin-top: 30px;
    }

    .api-img {
        padding: 2px 50px;
    }

    .api-box h2 {
        font-size: 23px;
    }

    /* FOOTER SECTION */
    .footer-header h1 {
        font-size: 30px;
    }

    .footer-text h3 {
        padding-left: 0px;
    }

    .footer-header p {
        font-size: 14px;
        padding: 0px 0px;
    }

    .footer-header {
        text-align: center;
        margin-top: 110px;
        padding: 0 12px;
    }

    .row-txt {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 0px 1px;
    }
}